/* Notes */
/* Mobile: 375px */

* {
	margin: 0;
	padding: 0;
}

:root {
	--bg: #fafafa;
	--text: #111;
	--accent: #ffffff;
}

:root.dark-mode {
	--bg: #111;
	--text: #fff;
	--accent: #222;
}

body {
	background: var(--bg);
	color: var(--text);
	transition:
		background 0.4s ease,
		color 0.4s ease;
	font-size: 14px;
	font-family: "Nunito Sans", sans-serif;
	overflow-x: hidden;
}

h1 {
	font-weight: 800;
}

header {
	padding: 1em 0;
	background-color: var(--accent);
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 6px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav,
main {
	max-width: 1440px;
	margin: auto;
}

#input-section {
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2em 0;
}

#search-input,
select {
	padding: 1.5em 3em 1.5em 2em;
	color: var(--text);
	background-color: var(--accent);
	border: none;
	border-radius: 10px;
	text-align: left;
	border-right: 16px solid transparent;
	box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 6px;
	letter-spacing: 1px;
}

main {
	padding: 4em0;
}

#themeBtn {
	font-size: 1em;
	cursor: pointer;
	background-color: transparent;
	padding: 10px 20px;
	color: var(--text);
	border: none;
	letter-spacing: 1px;
}

#country-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4em;
	margin-bottom: 10em;
}

.country-info {
	padding: 2em;
}

#country-list li {
	list-style: none;
	background-color: var(--accent);
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 6px;
}

#country-list h2 {
	padding-bottom: 0.8em;
}

.country-info p {
	padding: 0.1em 0;
}

.country-flag {
	width: 100%;
	height: 200px;
	display: block;
	object-fit: cover;
}
