/* Notes */
/* Mobile: 375px */
/* Desktop: 1440px */
/* Detail Page: 16px  */

* {
	margin: 0;
	padding: 0;
}

:root {
	--bg: white;
	--text: #111;
}

:root.dark-mode {
	--bg: #111;
	--text: #fff;
}

body {
	background: var(--bg);
	color: var(--text);
	transition:
		background 0.4s ease,
		color 0.4s ease;
	font-size: 14px;
	font-family: "Nunito Sans", sans-serif;
}

h1 {
	font-weight: 800;
}

button {
	cursor: pointer;
}
